<%- include("partials/header") %>

<div class="ui main text container">
    <div class="ui center huge header">THE #CHAINS</div>
    <div class="ui top attached segment"style="">
        <div class="ui divided items" style="background-color: black;padding: 10px;margin: 10px;">
            <% blogs.forEach(function(blog){ %>
                <div class="item ">
                    <div class="image">       
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content ">
                        <a class="header text-light" href="/blogs/<%=blog._id%>"><%=blog.title %></a>
                        <div class="meta">
                            <span class="text-light"><%= blog.created.toDateString() %></span>
                        </div><br>
                        <div class="extra">
                            <a class="ui floated basic blue button" href="/blogs/<%=blog._id%>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include("partials/footer") %>